body {
	paddi ng-top: 100px;
	padding-bottom: 40px;
}

.fengco-navbar.navbar .information{
	float:right;
	width:200px;
	color:black;
}

#myCarousel{
	width: 982px;
margin-right: auto;
margin-left: auto;
}
